# Bayse API Credentials
BAYSE_PUBLIC_KEY=pk_live_your_public_key_here
BAYSE_SECRET_KEY=sk_live_your_secret_key_here
BAYSE_BASE_URL=https://relay.bayse.markets

# Bot configurations
CAPITAL_USD=250
DRY_RUN=true # true for testing, false for real trading
